@charset "UTF-8";
/* CSS Document */

ul {
	font-family: 'Varela Round', sans-serif;
	font-size: 20px;

	text-decoration: none;
	list-style-type: none;	
}
 a {
 	text-decoration: none;
 	color:inherit;
 }

li {
	padding-left: 20px;
	color: #181716;
}

p {
	font-family: 'Varela Round', sans-serif;
	font-size: 20px;
	margin: 24px;
	color: #DEDCDC; 
}

.hidden {display: none;}

#container{
	position: absolute;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	min-height: 100%;
	min-width: : 100%;
	top: 0;
	left: 0;
	background-color: #181716;
}

#topAccent1 {
	width: 100%;
	height: 30px;
	background-color: #46423E;
}

#topAccent2 {
	width: 100%;
	height: 30px;
	background-color: #2B2927;
}


#mainNav {
	display: inline-flex;
	flex-direction: row;
	width: 100%;
	height: 10%;
	background-color: #DEDCDC;

}

#logo {
	position: absolute;
	margin-left: 4%;
}

#navLinks {
	display: inline-flex;
	flex-direction: row;
	padding-left: 60%;
	justify-content: flex-end;
	margin-top: 3%;

}

#indexMain {
	display: flex;
	flex-direction: row; 
}

#promoVideo {
	width: 50%;
	margin-left: 5%;
	margin-bottom: 5%;
}

#indexMainRight {
	margin-left: 3%;
	background-color: #6B6762;
	border-radius: 5px;

}


.accent {
	left: 50%;
	margin-left: 200px;
	font-size: 38px;
	font-family: 'Lacquer', sans-serif;
	color: #FFF7FE;
	position: absolute;
	animation: drip 3s 1;

}

#rainbowDrip {
	position: static;
	top :0;
}
 
 @keyframes drip {
 	0%{
		margin-top: 10px;
	}
	30%{
		margin-top: 20px;
	}
	60%{
		margin-top: 30px;
	}
	80%{
		margin-top: 60px; 
	}
	90{
		margin-top: 40px;
	}
 }

#indexBodyText {
	margin-left: 5%;
}

#bottomAccent {
	margin-top: 30px;
	height: 10px;
	max-width: 100%;
	background-color: #DEDCDC;
}

#footerNav {
	display:flex;
	flex-direction: row;
	background-color: #2B2927
}
#footerNavLinks {
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-right: 20%;
}

#copyright {
	font-size: 12px

}

#ourGoodsAccent {
	margin-top: 30px;
	width: 100%;
	height: 30px;
	background-color: #FF173E;
}

#ourGoodsMain {
	display: flex;
	flex-direction: row; 
}

#indexMainRight {
	margin-left: 3%;
	background-color: #6B6762;

}

#ourGoodsHeader {
	margin-left: 10%;
	font-family: 'Varela Round', sans-serif;
	font-size: 50px;
	color: #FF173E;
}

#ourGoodsBody {
	display: flex;
	flex-direction: column;
	padding: 30px;
	background-color: #EFC794;
	border-radius: 5px;
}

#ourGoodsBody p {
	color: #0C0B0B;
}

#merchBody {
	margin-top: 20px;
	margin-left: 20%;
	display: flex;
	flex-direction: column;
	width: 80%;
	background-color: #EFC794; 
	border-radius: 25px;
}

#merchBody h2 {
	font-family: 'Varela Round', sans-serif;
	margin-left: 3%;
	font-size: 42px;
	color: #FF173E;
}

#merchBody p {
	color: #040404;
}

#merchLeft {
	width: 60%;
}

#merchRight {
	justify-content: flex-end;
	margin-left: 30%;
	width: 60%;
	margin-bottom: 5%;
}

#findUsButton {
	margin-left: 50px;
	background-color: #181716;
	width: 200px;
	height: 40px;
	border-radius: 30px;
}

#findUsButton p {
	padding-top: 10px;
	color:  #FF173E;
	margin-top: 50px;
	margin-left: 60px;
}

.merchImg {
	border-radius: 5px;
}



#eventsAccent {
	margin-top: 30px;
	width: 100%;
	height: 30px;
	background-color: #FCC651;
}


#eventsMain {
	display: flex;
	flex-direction: row; 
}

#eventsHeader {
	margin-left: 80%;
	margin-bottom: 100px;
	font-family: 'Varela Round', sans-serif;
	font-size: 50px;
	color: #FCC651;
}

#eventsBody1 {
	display: flex;
	flex-direction: row;
	background-color: #FFA59D;
	border-radius: 5px;
	margin-left: 15%;
	margin-bottom: 6%;
}
#eventsBody2 {
	display: flex;
	flex-direction: row;
	background-color: #AFF5DD;
	border-radius: 5px;
	margin-left: 15%;
	margin-bottom: 6%;
}
#eventsBody3 {
	display: flex;
	flex-direction: row;
	background-color: #CB94FF;
	border-radius: 5px;
	margin-left: 15%;
	margin-bottom: 6%;
}
.eventsBodyRight{
	margin-top: 40px;
	flex-direction: column;
	width: 50%;
}

.eventsBodyRight p {
	color: #46423E;
}

.eventsBodyLeft {
	flex-direction: column;
	width: 50%;
}

.eventTitle {

	font-family: 'Varela Round', sans-serif;
	font-size: 32px;
	background-color: #FCC651;
	color: #707070;
	border-radius: 5px;
}

.eventDate {
	padding: 40px;
	padding-top: 20%;
	font-size: 38px;
	color: #707070; 
}

#ourStoryBody {
	display: flex;
	flex-direction: column;
	padding: 30px;
	background-color: #EFC794;
	border-radius: 5px;
	margin-bottom: 30px;

}

#ourStoryBody p {
	color:#707070;

}

#mcauslanStory {
	margin-top: 10%;
	max-height: 300px;
	max-width: 40%;
}

#ourStoryAccent {
	margin-top: 30px;
	width: 100%;
	height: 30px;
	background-color: #665891;
}

#ourStoryHeader {
	margin-left: 30%;
	font-family: 'Varela Round', sans-serif;
	font-size: 50px;
	color: #665891;
}

#ourStoryMain {
	display: flex;
	flex-direction: row; 
}
 .storyTitle {
 	padding: 20px;
 	background-color: #665891;
 	border-radius: 5px;
 	font-family: 'Varela Round', sans-serif;
 	color: #181716;
 	font-size: 36px;
 }


 #findUsAccent {
 	margin-top: 30px;
	width: 100%;
	height: 30px;
	background-color: #74A1E2;

 }



 #findusTop {
 	flex-direction: row;
 }

 #contactform {
 	flex-direction: row;
 }

 #findUsHeader {
	margin-left: 30%;
	font-family: 'Varela Round', sans-serif;
	font-size: 50px;
	color: #74A1E2;
}

.contactInfoTitle {
	padding: 20px;
 	background-color: #74A1E2;
 	border-radius: 5px;
 	font-family: 'Varela Round', sans-serif;
 	color: #181716;
 	font-size: 36px;
}

#googleMap {
	margin-left: 20%;
	margin-top: 10%;
	min-width: 500px;
	min-height: 500px;

}

#findUsLeft {
	margin-right: 5%;
	margin-left: 5%;
	flex-direction: column;
}

.social {
	margin-left: 150px;
	margin-top: 10%;
	max-height: 300px;
	max-width: 40%;
}
